body {
    font-family: 'Arial', sans-serif;
    background-color: #ccc;
    padding-top: 20px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f0f8ff;
}

label {
    text-align: end;
}

#image {
    max-width: 300px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
}
